<launch>
    <arg name="odom_topic" value="/ekf/ekf_odom"/>
    <include file="$(find diff_planner)/launch/include/advanced_param.xml">
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <!-- camera pose: transform of camera frame in the world frame -->
        <!-- depth topic: depth image, 640x480 by default -->
        <!-- don't set cloud_topic if you already set these ones! -->
        <arg name="camera_pose_topic" value="no_use0"/>
        <arg name="depth_topic" value="no_use1"/>
        <!-- topic of point cloud measurement, such as from LIDAR  -->
        <!-- don't set camera pose and depth, if you already set this one! -->
        <arg name="cloud_topic" value="/laserMapping/cloud_registered"/>
        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="321.04638671875"/>
        <arg name="cy" value="243.44969177246094"/>
        <arg name="fx" value="387.229248046875"/>
        <arg name="fy" value="387.229248046875"/>
        <!-- maximum velocity, acceleration and jerk the drone will reach -->
        <arg name="max_vel" value="2.0" />
        <arg name="max_acc" value="3.0" />
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="7.5" />
        <!-- map parameters  -->
        <arg name="local_map_size_x_" value="5.5"/>
        <arg name="local_map_size_y_" value="5.5"/>
        <arg name="local_map_size_z_" value="2.0"/>
        <arg name="virtual_ceil" value="2.0"/>
        <arg name="virtual_ground" value="0.1"/>
        <arg name="map_resolution" value="0.15"/>
        <arg name="inflation_size" value="0.3"/>
    </include>

    <node pkg="diff_planner" name="traj_server" type="traj_server" output="screen">
        <remap from="position_cmd" to="/setpoints_cmd"/>
        <remap from="~planning/trajectory" to="/diff_planner_node/planning/trajectory"/>
        <remap from="~planning/yaw" to="/diff_planner_node/planning/yaw"/>
        <remap from="~heartbeat" to="/diff_planner_node/planning/heartbeat"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>

  <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
		<remap from="~odom" to="$(arg odom_topic)" />
        <param name="color/a" value="1.0"/>    
        <param name="color/r" value="0.0"/>        
        <param name="color/g" value="0.0"/>        
        <param name="color/b" value="1.0"/>       
        <param name="covariance_scale" value="100.0"/>       
        <param name="robot_scale" value="1.0"/>
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_planner)/launch/include/exp_lio.rviz" required="true" />
</launch>

